/* Allgemeines Layout */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background: #f0f0f0;
}

/* Container für die Karte */
.card-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 75%;
    padding: 1rem;
}

/* card */
.card {
    width: 90%;
    max-width: 400px;
    min-height: 500px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    /* optional für interaktivität */
}

.card:hover {
    transform: scale(1.03);
}

/* Image der Karte */
.card .cardImg {
    height: 35%
}

/* Name der Karte */
.card .cardName {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 25px;
    color: #222;
}

/* Beschreibung */
.card .cardDescription {
    padding: 25px;
    font-size: 1.1rem;
    color: #333;
}

/* Repick Button */
.repick-btn {
    width: 50%;
    max-width: 400px;
    margin: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #c30d0d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.repick-btn:hover {
    background-color: #45a049;
}

/* Responsive Anpassungen */
@media (max-width: 500px) {
    .card .cardDescription {
        font-size: 1rem;
    }

    .repick-btn {
        font-size: 1rem;
    }
}